{% extends 'base.html.twig' %}

{% block title %}Deers gallery - {{ gallery.name }}{% endblock %}

{% block body %}
    <h3>{{ gallery.name }}</h3>
    <div>
        <ul>
            {% for photo in gallery.galleryPhotos %}
                <img src="{{ gallery.sourceUri ~ photo.photoUri }}" style="width: 30%;">
            {% endfor %}
        </ul>
    </div>
{% endblock %}